#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  --transition-duration: 0.5s;
}

body {
  color: var(--semi-color-text-0);
  background-color: var( --semi-color-bg-0);
  transition: color var(--transition-duration), background-color var(--transition-duration);
}
body.theme-transition {
  animation: theme-transition var(--transition-duration) forwards;
}

.logo {
  margin-top: 50%;
  margin-bottom: 30%;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.lottie_anm{
  filter: drop-shadow(0 0 2em #646cffaa);
}
